{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>

<section class="review">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <hr>
                <h1 class="text-black">Edit Review</h1>
                <hr>
            </div>
            <div class="col-12 col-md-8 mx-auto mb-5">
                <p class="font-weight-bold text-main-black">You are reviewing this product: <span
                        class="text-black">{{ product.name }}</span></p>
                <div class="prod-form">
                    <form method="POST" action="{% url 'edit_review' product.id review.id %}"
                        class="mb-2 prod-form text-black" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy}}
                        <div class="">
                            <a class="btn cta cta-danger bg-black text-white"
                                href="{% url 'product_detail' product.id %}">Cancel</a>
                            <button class="btn cta bg-black-main text-white" type="submit">Update Review</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
