<script type="text/javascript">

// ----------------Increase and Decrease button----------------

// Increment quantity
$('.increment-qty').click(function (e) {
    e.preventDefault();
    var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
    var value = parseInt($(closestInput).val());
    $(closestInput).val(value + 1);
    var itemId = $(this).data('item_id');
    handleEnableDisable(itemId);
});

// Decrement quantity
$('.decrement-qty').click(function (e) {
    e.preventDefault();
    var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
    var value = parseInt($(closestInput).val());
    $(closestInput).val(value - 1);
    var itemId = $(this).data('item_id');
    handleEnableDisable(itemId);
});
</script>