{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-black text-center">My Profile</h2>
            <hr>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header bg-black text-white">
                        Navigation
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="{% url 'profile' %}" class="text-main-black"><i
                                    class="fa-solid fa-user"></i> Profile</a>
                        </li>
                        <li class="list-group-item"><a href="{% url 'order_list' %}" class="text-main-black"><i
                                    class="fa-solid fa-receipt"></i> Order
                                History</a></li>
                        <li class="list-group-item"><a href="{% url 'view_wishlist' %}" class="text-main-black"><i
                                    class="fa-solid fa-heart"></i> Wishlist</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <!-- Profile Information -->
                <div class="card">
                    <div class="card-header bg-black text-white">
                        Profile Information
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-black">Username: <span
                                class="text-main-black">{{ user.username }}</span></h5>
                        <p class="card-text text-black">Email: <span class="text-main-black">{{ user.email }}</span></p>
                    </div>
                </div>

                <!-- Order History -->
                <div class="card mt-3">
                    <div class="card-header bg-black text-white">
                        Wishlist
                    </div>
                    <div class="card-body order-history">
                        <p class="text-center text-main-black">Wishlist Count 2</p>
                        <p class="text-center"><a href="" class="btn btn-danger mb-3">Clear Wishlist</a></p>
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Item Name</th>
                                    <th>Price</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img src="media\set-free-1-hoodies.jpg" id="wishlist_img" alt=""></td>
                                    <td>Item 1
                                        <br>
                                        stock
                                    </td>
                                    <td>$50</td>
                                    <td>
                                        <button class="btn btn-success">View Product</button>
                                        <button class="btn btn-danger">Remove</button>
                                    </td>
                                </tr>
                                <!-- Add more items as needed -->
                            </tbody>
                        </table>

                        <!-- else -->
                        <p class="font-weight-bold text-black">Order history empty!</p>
                        <p class="text-main-black">You have no product in your wishlist</p>

                        <a href="{% url 'products' %}" class="btn btn-primary rounded-0 border-0 updateBtn"><i
                                class="fas fa-chevron-left"></i> Back to Shop</a>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}