/* ------------------------------- Blog */
.jumbotron {
  background: linear-gradient(rgba(170, 44, 44, 0.4), rgba(0, 0, 0, 0.4)),
    url("/static/images/blog-background.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  background-color: rgba(146, 37, 37);
}

.card {
  border: 2px solid black;
  transition: all 300ms;
}

.card:hover, .blog-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(70, 3, 3, 0.25), 0 10px 10px rgba(129, 1, 1, 0.22);
}

/* Blog Styles */

.image-container {
    position: relative;
}

.blog-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: var(--main-teal);
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.masthead-image img {
    width: 100%;
    border: 3px solid rgb(255, 255, 255);
}

.masthead-text {
    color: white;
}


.blog-title {
    margin-top: 20%;
    margin-left: 5%;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.blog-subtitle {
    margin-left: 5%;
    color: var(--off-white);
}

.pagination {
    justify-content: center;
  }
  
  /* Optional: Adjust spacing and styles */
  .page-item {
    margin: 0 5px;
  }
  
  .page-link {
    border-radius: 0;
    color: black;
  }
  #paginateBtn {
    background-color: rgb(105, 0, 0);
    color: white;
    border-radius: 0;
    padding: 5px;
    margin: 3px;
    text-decoration: none;
    font-size: 1.2em;
  }

  #page-num {
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 0;
    padding: 5px;
    margin: 3px;
    text-decoration: none;
    font-size: 1.2em;
  }


  #paginateBtn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }

  #page-num {
    background-color: black;
    color: white;
  }

  .blog-edit {
    background-color: black;
    padding: 7px;
    border: 1px solid rgb(255, 255, 255);
  }

  .blog-delete {
    background-color: rgb(255, 220, 188);
    padding: 7px;
    border: 1px solid rgb(255, 255, 255);
  }