* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "roboto", sans-serif;
}

:root {
  --primary: #000000;
  --secondary: #ffffff;
  --dark-wine: #581e07;
  --wine: #7c2d0e;
  --cream: #ffebc8;
  --light-cream: #ebe0ce;
  --peal-cream: #fffaf1;
}

html {
  height: 100%;
}

body {
  background: url("../images/homepage_background.jpg") no-repeat center center
    fixed;
  background-size: cover;
  height: calc(100vh - 164px);
  color: var(--light-cream);
  font-family: "Lato";
}

/* -----------------Nav with Search */
/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

#searchBtn {
  background: var(--dark-wine);
  color: var(--secondary);
}

#SearchBox {
  background: var(--wine);
  color: var(--secondary);
  border: 1px solid var(--dark-wine);
}

#SearchBox::placeholder {
  color: var(--secondary);
  opacity: 50%;
}

#SearchBox:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

#searchBtn:hover {
  background: var(--primary);
}

.logo-font {
  text-transform: uppercase;
}

.main-logo-link {
  width: fit-content;
}

.shop-now-button {
  background: var(--dark-wine);
  color: white;
  min-width: 260px;
}

.btn-black {
  background: black;
  color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
  background: var(--wine);
  color: white;
}

.text-black {
  color: var(--dark-wine) !important;
}

.text-cream {
  color: var(--cream) !important;
}

.border-black {
  border: 1px solid black !important;
}

.welcomeMsg p {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  color: var(--dark-wine);
}

.welcomeMsg h1 {
  font-weight: 700;
}

.bg-black {
  background: var(--wine) !important;
}
/* -------------------------------- End Navbar */

/* -------------------------------- Products */
.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: var(--light-cream);
  z-index: -1;
}

.product-head {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--dark-wine);
}

#product-card {
  border: 2px solid var(--dark-wine);
}

.card-img-top {
  border-bottom: 2px solid var(--dark-wine);
}

#card-footer {
  background: var(--dark-wine);
  color: var(--secondary);
}

#cart_btn {
  background: var(--dark-wine);
  color: var(--secondary);
}
#cart_btn:hover {
  background: #000000;
  color: var(--secondary);
}
#view_btn {
  background: var(--wine);
  color: var(--secondary);
}

#view_btn:hover {
  background: #9e6650;
  color: var(--secondary);
}

#category-badge:hover {
  background: #212529 !important;
  color: #fff !important;
}

#product-link {
  background-color: var(--dark-wine);
  color: var(--secondary);
  text-decoration: none;
  padding: 5px;
  border-radius: 15px;
}

#product-link:hover {
  background-color: #000000;
  color: var(--secondary);
  text-decoration: none;
}

#sort-selector {
  background-color: var(--cream);
  color: var(--dark-wine);
  border: 2px solid var(--dark-wine);
}

#sort-selector:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.border-info {
  border-color: var(--dark-wine) !important;
}

.btt-button {
  height: 52px;
  width: 52px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.btt-link {
  cursor: pointer;
}

/* -------------------------------- End Products *

/* -------------------------------- Products Cart */
body {
  margin-top: 20px;
}

.cart-item-thumb {
  display: block;
  width: 10rem;
}

.cart-item-thumb > img {
  display: block;
  width: 100%;
}

.product-card-title > a {
  color: #222;
}

.font-weight-semibold {
  font-weight: 600 !important;
}

.product-card-title {
  display: block;
  margin-bottom: 0.75rem;
  padding-bottom: 0.875rem;
  border-bottom: 1px dashed #e2e2e2;
  font-size: 1rem;
  font-weight: normal;
}

.text-muted {
  color: #888 !important;
}

#pdt-header,
#smr-header {
  background: var(--dark-wine);
  color: var(--secondary);
  font-size: 20px;
  font-weight: 700;
}

#backbtn {
  margin-bottom: 10px;
}

.cart-container {
  padding: 0 30px 50px;
  background: white;
  border: 2px solid var(--dark-wine);
}

.updateBtn {
  background: var(--dark-wine);
}

.updateBtn:hover {
  background: #000000;
}

.removeBtn {
  background: red;
}

.removeBtn:hover {
  background: #8d0101;
}
/* -------------------------------- End Products Cart */

/* -------------------------------- Product View */
.widget .panel-body {
  padding: 0px;
}
.widget .list-group {
  margin-bottom: 0;
}
.widget .panel-title {
  display: inline;
}
.widget .label-info {
  float: right;
}
.widget li.list-group-item {
  border-radius: 0;
  border: 0;
  border-top: 1px solid #ddd;
}
.widget li.list-group-item:hover {
  background-color: rgba(86, 61, 124, 0.1);
}
.widget .mic-info {
  color: #666666;
  font-size: 11px;
}
.widget .action {
  margin-top: 5px;
}
.widget .comment-text {
  font-size: 12px;
}
.widget .btn-block {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.img-user {
  width: 80px;
  height: auto;
}

#bg-product-details {
  background: var(--dark-wine);
  padding: 20px;
}

#p_view_btn {
  background: var(--cream);
  color: var(--dark-wine);
}

#p_view_btn:hover {
  background: #ecb14b;
  color: var(--dark-wine);
  cursor: pointer;
}

.btn-outline-black {
  background: white;
  color: black !important;
  border: 1px solid black;
}

.btn-outline-black:hover {
  background: rgb(65, 65, 65);
  color: rgb(255, 255, 255) !important;
  border: 1px solid black;
}
/* --------------------------------- End Product view */

/* ------------------------------- bootstrap toasts */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
  border-bottom-color: #007bff !important;
}

.arrow-secondary {
  border-bottom-color: #6c757d !important;
}

.arrow-success {
  border-bottom-color: #28a745 !important;
}

.arrow-danger {
  border-bottom-color: #dc3545 !important;
}

.arrow-warning {
  border-bottom-color: #ffc107 !important;
}

.arrow-info {
  border-bottom-color: #17a2b8 !important;
}

.arrow-light {
  border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
  border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}
/* ------------------------------- End bootstrap toasts */

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .header-container {
    padding-top: 164px;
  }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
  .header-container {
    padding-top: 116px;
  }

  body {
    height: calc(100vh - 116px);
  }
}

@media (max-width: 767px) {
  #backbtn {
    margin-top: 10px;
  }
}

/* -------------------------------- End Media Queries */
