<footer>
    <div class="container py-4 py-lg-5">
        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3 text-center text-lg-left d-flex flex-column item">
                <h3 class="font-weight-bold" id="hero_header">PB Majestic Cloding</h3>
                <ul class="list-unstyled">
                    <li>
                        <p class="text-white">Your favourite Christian Clothing shop</p>
                    </li>
                    <li><a class="text-cream" href="{% url 'blog' %}">Blog</a></li>
                    <li><a class="text-cream" href="">Contact Us</a></li>
                </ul>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/" target="_blank" rel="nofollow noopener" class="me-4 text-decoration-none" id="facebook">
                            <i class="fab fa-facebook-f p-2"></i> <span class="p-2">Follow us on Facebook</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3 text-center text-lg-left d-flex flex-column item">
                <h3 class="font-weight-bold cat-Title"><i class="fa-solid fa-shirt"></i> T-Shirt
                </h3>
                <ul class="list-unstyled">
                    <li><a href="{% url 'products' %}?category=mens_wear" class="drop-items dropdown-item">Men</a></li>
                    <li></li><a href="{% url 'products' %}?category=womens_wear" class="drop-items dropdown-item">Women</a></li>
                    <li></li><a href="{% url 'products' %}?category=mens_wear,womens_wear" class="drop-items dropdown-item">All
                        T-Shirts</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3 text-center text-lg-left d-flex flex-column item">
                <h3 class="font-weight-bold cat-Title"><i class="fa-solid fa-gift"></i> Special Offers
                </h3>
                <ul class="list-unstyled">
                    <li><a href="{% url 'products' %}?category=new_arrivals" class="drop-items dropdown-item">New Arrivals</a></li>
                    <li><a href="{% url 'products' %}?category=deals" class="drop-items dropdown-item">Deals</a></li>
                    <li><a href="{% url 'products' %}?category=new_arrivals,deals" class="drop-items dropdown-item">All
                            Specials</a></li>
                </ul>
            </div>
            <div
                class="col-lg-3 text-center text-lg-left d-flex flex-column align-items-center order-first align-items-lg-start order-lg-last item social">
                <h4 class="font-weight-bold mb-2 text-cream"><strong>Subscribe to our newsletter</strong></h4>
                <form class="d-flex justify-content-center flex-wrap" method="POST" action="">
                    {% csrf_token %}
                    <div class="my-2"><input class="form-control" type="email" name="email" placeholder="Your Email">
                    </div>
                    <div class="my-2"><button class="btn btn-outline-black ml-2" type="submit">Subscribe </button></div>
                </form>
            </div>
        </div>
        <hr>
        <div class="text-center pt-3">
            <p class="mb-0">Developed By <strong class="text-cream">Benjamin Ohene Konadu</strong> for Code
                Institute's Portfolio Project 5 - 2023</p>
        </div>
    </div>
</footer>