{% extends "base.html" %}
{% load static %}

{% block title %}PB-Majestic Blog{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2" id="cart-container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="text-black text-center text-uppercase"> PB-Majestic Blog</h2>
            <hr>
        </div>
    </div>
    <div id="jumbotron">
        <div class="row">
            <div class="col">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">PB-Majestic</h1>
                        <p class="lead">Welcome to the PB-Majestic Blog. Here you will find all the latest news and
                            updates about our products, services and Motivations of Chritian life.</p>
                    </div>
                </div>
            </div>
    </div>
    <!-- CONTENT -->
    <div class="row">
        {% if blogs %}
        {% for blog in blogs %}
        <div class="col-12 col-lg-6 mb-4 d-flex">
            <div class="card border-black-light flex-fill">
                {% if blog.image %}
                <a href=""><img src="{{ blog.image.url }}" class="card-img-top"
                        alt="..."></a>
                {% else %}
                <a href=""><img
                        src="" class="card-img-top"
                        alt="..."></a>
                {% endif %}
                <div class="bg-black text-white font-weight-bold text-center">
                    <a href="" class="text-decoration-none">
                        <p class="text-white p-2 mb-0">{{ blog.title }}</p>
                    </a>
                </div>
                {% if request.user.is_superuser %}
                <div class="row">
                    <div class="col-12">
                        <hr class="my-0">
                        <div class="text-center">
                            <a href="" class="text-black btn text-sm">Manage
                                Blog
                                <i class="fa-solid fa-sm fa-pencil"></i></a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-12">
            <p class="text-black font-weight-bold font-italic text-center">Sorry there are no blog posts currently please
                check back
                later.</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}