{% extends "base.html" %}
{% load static %}

{% block title %}PB-Majestic Blog{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2" id="cart-container">
    <div class="row">
        <div class="col">
            <hr>
            <p>
                <h2 class="text-black text-center text-uppercase mb-3"> PB-Majestic Blog</h2>
                {% if request.user.is_superuser %}
                <p class="text-center"><a href="{% url 'add_blog' %}" class="text-decoration-none add_blog">ADD BLOG</a>
                </p>
                {% endif %}
            </p>
            <hr>
        </div>
    </div>
    <div id="jumbotron">
        <div class="row">
            <div class="col">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">PB-Majestic</h1>
                        <p class="lead">Welcome to the PB-Majestic Blog. Here you will find all the latest news and
                            updates about our products, services and Motivations of Chritian life.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- CONTENT -->
        <div class="row">
            {% if blogs %}
            {% for blog in blogs %}
            <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex">
                <div class="card border-black-light flex-fill">
                    {% if blog.image %}
                    <a href="{% url 'blog_detail' blog.id %}"><img src="{{ blog.image.url }}" class="card-img-top"
                            id="blog-img" alt="..."></a>
                    {% else %}
                    <a href="{% url 'blog_detail' blog.id %}"><img src="" class="card-img-top" alt="..."></a>
                    {% endif %}
                    <div class="bg-black text-white font-weight-bold text-center">
                        <a href="" class="text-decoration-none">
                            <p class="text-white p-2 mb-0">{{ blog.title }} </p>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-center"><small class="text-main-black">{{ blog.author }} | {{ blog.created_on }}</small></p>
                    </div>
                    {% if request.user.is_superuser %}
                    <div class="card-footer">
                        <div class="col-12">
                            <hr class="my-0">
                            <div class="text-center">
                                <a href="{% url 'edit_blog' blog.id %}" class="text-black btn text-sm">Manage
                                    Blog
                                    <i class="fa-solid fa-sm fa-pencil"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-12">
                <p class="text-black font-weight-bold font-italic text-center">Sorry there are no blog posts currently
                    please
                    check back
                    later.</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- Pagiantion -->
<div class="container paginate">
    {% if blogs.paginator.num_pages > 1 %}
    <div class="row">
        <div class="col">
            <nav aria-label="...">
                <ul class="pagination ">
                    {% if blogs.has_previous %}
                    <li class="page-item disabled justify-content-center">
                        <a class="" id="paginateBtn" href="?page={{ blogs.previous_page_number }}"
                            tabindex="-1">Prev</a>
                    </li>
                    {% endif %}
                    <li class="page-item active">
                        <a class="" href="?page={{ blogs.number }}" id="paginateBtn">{{ blogs.number }}<span
                                class="sr-only">(current)</span></a>
                    </li>
                    {% if blogs.has_next %}
                    <li class="page-item">
                        <a class="" href="?page={{ blogs.next_page_number }}" id="paginateBtn">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}