{% extends "base.html" %}
{% load static %}

{% block title %}PB-Majestic Blog{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2" id="cart-container">
    <div class="row">
        <div class="col">
            <hr>
            <div class="col-12 col-md-10 mx-auto text-center d-flex">
                <a href="{% url 'blog' %}"
                    class="cta btn text-uppercase w-100 mx-auto mb-3 bg-black text-white blog-btn"><i
                        class="fa-solid fa-hand-point-left"></i>
                    &nbsp;&nbsp;Blog Posts</a>
            </div>
            <hr>
        </div>
    </div>
    <!-- CONTENT -->
    <div class="masthead">
        <div class="container p-3 bg-black">
            <div class="row">
                <div class="col-lg-6 col-md-12 masthead-image">
                    <!-- The featured image URL goes in the src attribute -->
                    {% if blog.image %}
                    <img src="{{ blog.image.url }}" alt="{{ blog.title }} image">
                    {% else %}
                    <img src="" alt="Default blog image">
                    {% endif %}
                </div>
                <div class="col-lg-6 col-md-12 masthead-text">
                    <!-- blog title goes in these h1 tags -->
                    <h1 class="blog-title">{{ blog.title }}</h1>
                        <!-- blog author goes before the | the blog's created date goes after -->
                        <p class="blog-subtitle ">{{ blog.author }} | {{ blog.created_on }}</p>
                            {% if request.user.is_superuser %}
                            <p class="blog-subtitle">
                                <a class="text-decoration-none text-white blog-edit"
                                    href="{% url 'edit_blog' blog.id %}"><i class="fa-solid fa-pen-to-square"></i>
                                    Edit</a>
                            </p>
                            {% endif %}

                </div>
            </div>
        </div>
    </div>

    <!-- blog content -->
    <div class="container">
        <div class="row">
            <div class="col card mb-4  mt-3 left top">
                <div class="card-body">
                    <!-- The post content goes inside the card-text. -->
                    <!-- Use the | safe filter inside the template tags -->
                    <div class="card-text text-black">
                        {{ blog.body | safe }}
                    </div>
                        <!--  -->
                        <form action="{% url 'like_blog' blog.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="blog_id" value="{{ blog.id }}">
                            {% if liked %}
                            <button type="submit" class="btn  btn-sm bg-black text-white"><i
                                    class="fa-regular fa-thumbs-up"></i> {{ blog.total_likes }}</button>
                                {% else %}
                                <button type="submit" class="btn btn-sm bg-black-main text-white"><i
                                        class="fa-solid fa-thumbs-up"> {{ blog.total_likes }}</i></button>
                                {% endif %}
                                <span class="badge comment-badge text-black ml-3"><i class="fa-regular fa-comment"></i>
                                    {{ blog.comments.count }}</span>
                        </form>

                        <!--  -->
                        <div class="comment">
                            <div class="row mt-5">
                                <p class="ml-3">
                                    <a class="text-decoration-none text-white blog-edit"
                                        href="{% url 'comment_blog' blog.id %}"><i
                                            class="fa-solid fa-pen-to-square"></i>
                                        ADD COMMENT</a>
                                </p>
                            </div>
                            <div class="comment-container">
                                <h2 class="text-black mt-5">Comments:</h2>
                                <hr>
                                {% if comments %}
                                {% for comment in comments %}
                                <p class="text-black mb-0"> <strong class="text-main-black">Comment by:</strong>
                                    {{ comment.name }} </p>
                                    <p class="text-black mb-0"> {{ comment.body }} </p>
                                        <p class="text-black mb-3"><i class="text-main-black">Added on:</i>
                                            {{ comment.created_on }} </p>
                                            {% if user == comment.user or user.is_superuser %}
                                            <a href="" class="text-decoration-none text-white blog-edit"><small><i
                                                        class="fa-solid fa-pencil"></i> Manage Comment</small></a>
                                            {% endif %}
                                            <hr>
                                            {% endfor %}
                                            {% else %}
                                            <p class="text-black">No comments yet, Be the first to comment
                                                {% if not user.is_authenticated %} <i class="text-main-black">Please
                                                    register or sign in to comment</i> {% endif %}</p>
                                            {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- CONTENT -->
</div>
{% endblock %}