{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">

    <!--  -->
    <div class="container mt-5 mb-4 " id="bg-product-details">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 ">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank"><img src="{{ product.image.url }}"
                        alt="{{ product.name }}" class="img-fluid"></a>
                {% else %}
                <a href="{{ MEDIA_URL }}noimage.png" target="_blank"><img src="{{ MEDIA_URL }}noimage.png"
                        alt="{{ product.name }}" class="img-fluid"></a>
                {% endif %}
            </div>
            <div class="col-md-6">
                <h2>{{ product.name }}</h2>
                    <p>{{ product.description }}</p>
                        <h4 class="mb-1 text-left font-weight-bold ">€{{ product.price }}</h4>
                            <p><strong>Category: {{ product.category.friendly_name }}</strong></p>
                            <h4><span class="badge badge-pill badge-warning mb-1">{{ product.stock }} in stock</span>
                            </h4>
                            {% if product.rating %}
                            <p><small class="text-white"><i
                                        class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                            </p>
                            {% else %}
                            <p><small class="text-muted">No Rating</small></p>
                            {% endif %}
                            <a href="#" class="btn btn-success border-0" id="p_view_btn">Add to cart</a>
            </div>
        </div>
    </div>

    <div class="container ">
        <div class="row">
            <div class="panel panel-default widget">
                <div class="panel-heading">
                    <hr>
                    <h3 class="panel-title text-black">
                        Reviews</h3>
                    <hr>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-2 col-md-1">
                                    <img src="{% static 'images/profiles.png' %}"
                                        class="img-circle img-responsive img-user" alt="" /></div>
                                <div class="col-xs-10 col-md-11 ">
                                    <div>
                                        <h5 class="ms-5">Cool Sign Up</h5>
                                        <div class="mic-info">
                                            <p class="ms-5 mb-0">By: Bhaumik Patel on 11 Nov 2013</p>
                                        </div>
                                    </div>
                                    <div class="comment-text ms-5">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                        euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                                    </div>
                                    <div class="action">
                                        <button type="button" class="btn btn-primary btn-xs ms-5 mb-0" title="Edit">
                                            <i class="fa-solid fa-pencil"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-info btn-sm btn-block btn-danger" role="button">More</a>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
</div>
{% endblock %}